* {
    margin: 0;
    font-size: 32px;
    box-sizing: border-box;
}
:root {
    --animation-duration-pop: 100ms;
    --color-tone-1: #ffffff;
    --color-tone-2: #818384;
    --color-tone-3: #565758;
    --color-tone-4: #3a3a3c;
    --color-tone-5: #272729;
    --color-tone-6: #1a1a1b;
    --color-tone-7: #121213;
    --color-tone-8: #ffffff;
    --green: #6aaa65;
    --yellow: #b59f3b;
}