.unknown {
  --state-color: var(--color-tone-2);
}

.absent {
  --state-color: var(--color-tone-4);
}

.misplaced {
  --state-color: var(--yellow);
}

.present {
  --state-color: var(--green);
}

.empty {
  border: 2px solid var(--color-tone-4);
}