@font-face {
    font-family: KarnakPro;
    src: url('./fonts/KarnakPro-Black.ttf');
}

* {
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-tone-7);
    color: var(--color-tone-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

:global(.unknown) {
    --state-color: var(--color-tone-2);
}

:global(.absent) {
    --state-color: var(--color-tone-4);
}

:global(.misplaced) {
    --state-color: var(--yellow);
}

:global(.present) {
    --state-color: var(--green);
}

:global(.empty) {
    border: 2px solid var(--color-tone-4);
}