@font-face {
    font-family: KarnakPro;
    src: url('./fonts/KarnakPro-Black.ttf');
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-tone-7);
    color: var(--color-tone-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

:global(.unknown) {
    --state-color: var(--color-tone-2);
    --state-border: 0 solid transparent;
}

:global(.absent) {
    --state-color: var(--color-tone-4);
    --state-border: 0 solid transparent;
}

:global(.misplaced) {
    --state-color: var(--yellow);
    --state-border: 0 solid transparent;
}

:global(.present) {
    --state-color: var(--green);
    --state-border: 0 solid transparent;
}

:global(.empty) {
    --state-color: transparent;
    --state-border: 2px solid var(--color-tone-4);
}